.home {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 91%;
    position: relative;
    top: 60px;
}

span {
    font-weight: bold;
}

#title {
    font-size: 150%;
    color: #229235;
    border-bottom: 1px solid #229235;
}

.one-part {
    float: left;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.content {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content-app {
    width: 75%;
    background-color: #2292351f;
}

.details-app {
    width: 25%;
    background-color: #3dd45633;
    left: 75%;
    position: fixed;
}

.slider {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 25s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    top: 100%;
}

.parrafo {
    position: relative;
    margin: 20px;
    width: 95%;
    text-align: justify;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    15% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    55% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    75% {
        margin-left: -300%;
    }
    80% {
        margin-left: -400%;
    }
    100% {
        margin-left: -400%;
    }
}