.home {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 91%;
    position: relative;
    top: 60px;
}

.title {
    font-size: 150%;
    color: #229235;
    border-bottom: 1px solid #229235;
}

.content {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
